Repository ameerthehacker/kubelive: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettify, yarn lint:staged

.lintstagedrc:

{
  "*.{js,ts,html,json,scss,md,yml}": [
    "yarn prettify",
    "git add"
  ],
  "*.{spec,js}": [
    "yarn lint:staged",
    "git add"
  ],
}

fix(replication-controller): add missing selector
  transformers/replication-controller.js
Due: yarn prettify, yarn lint:staged

test: add tests for node transformer
  __test__/transformers/node.test.js
Due: yarn prettify, yarn lint:staged

test(node-transformer): remove unwanted code
  __test__/transformers/node.test.js
Due: yarn prettify, yarn lint:staged

test: add tests for service transformer
  __test__/transformers/service.test.js
Due: yarn prettify, yarn lint:staged

test(service-transformer): add missing test
  __test__/transformers/service.test.js
Due: yarn prettify, yarn lint:staged

test: add tests for replication controller transformer
  __test__/transformers/replication-controller.test.js
Due: yarn prettify, yarn lint:staged

test: add tests for actions
  __test__/actions/base.js
  __test__/actions/node.test.js
  __test__/actions/pod.test.js
  __test__/actions/replication-controller.test.js
  __test__/actions/service.test.js
  actions/replication-controller.js
  actions/service.js
  components/replication-controllers.js
  components/services.js
Due: yarn prettify, yarn lint:staged

fix: missing test file
  __test__/actions/base.test.js
Due: yarn prettify, yarn lint:staged

test: add missing tests for action
  __test__/actions/base.test.js
  __test__/actions/node.test.js
  __test__/actions/pod.test.js
  __test__/actions/replication-controller.test.js
  __test__/actions/service.test.js
Due: yarn prettify, yarn lint:staged

test: add tests for new components
  __test__/components/__snapshots__/node.test.js.snap
  __test__/components/__snapshots__/replication-controller.test.js.snap
  __test__/components/__snapshots__/services.test.js.snap
  __test__/components/node.test.js
  __test__/components/replication-controller.test.js
  __test__/components/services.test.js
Due: yarn prettify, yarn lint:staged

docs(README): update the available commands and add roadmap
  README.md
  __test__/containers/app.test.js
Due: yarn prettify, yarn lint:staged

docks(README): remove breaking emoji
  README.md
Due: yarn prettify

fix(update-notifier): add global tag
  cli.js
Due: yarn prettify, yarn lint:staged

Fix README.md typo
  README.md
Due: yarn prettify

chore: update CI to use node v10
  .circleci/config.yml
Due: yarn prettify

docs: add minimum node version requirement
  README.md
Due: yarn prettify

docs(README): move node version requirement into seperate section
  README.md
Due: yarn prettify

feat(actions): use the q key to quit the app
  __test__/actions/base.test.js
  src/actions/base.js
Due: yarn prettify, yarn lint:staged

docs(README): add q action
  README.md
Due: yarn prettify

docs(README): add tweets
  README.md
Due: yarn prettify

feat: add support for inline context name setting
  README.md
  cli.js
  jest.config.json
  package.json
  src/containers/namespaces.js
  src/kube/api.js
  src/utils/utils.js
  yarn.lock
Due: yarn prettify, yarn lint:staged

chore: fix wrong node version in CI
  .circleci/config.yml
Due: yarn prettify

feat: add support for short name commands
  src/containers/app.js
Due: yarn prettify, yarn lint:staged

docs(README): add documentation for shortname support
  README.md
Due: yarn prettify

docs(README): fix typo
  README.md
Due: yarn prettify

Create Sjenica1
  Sjenica1
Due: none
