Repository ameerthehacker/kubelive: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettify, yarn lint:staged

.lintstagedrc:

{
  "*.{js,ts,html,json,scss,md,yml}": [
    "yarn prettify",
    "git add"
  ],
  "*.{spec,js}": [
    "yarn lint:staged",
    "git add"
  ],
}

ref: refactor tests of namespaces container to make it simple
  __test__/containers/__snapshots__/namespaces.test.js.snap
  __test__/containers/namespaces.test.js
Due: yarn prettify, yarn lint:staged

test(app): add additional tests to the app container
  __test__/containers/__snapshots__/app.test.js.snap
  __test__/containers/app.test.js
Due: yarn prettify, yarn lint:staged

docs(README): move the screenshots into dedicated repo and use it in readme
  README.md
  screenshots/kubelive-demo.gif
Due: yarn prettify

fix: bug in the table component
  components/table.js
Due: yarn prettify, yarn lint:staged

test(table): add unit tests for table component
  __test__/components/table.test.js
Due: yarn prettify, yarn lint:staged

ref: remove unwanted code from table component test
  __test__/components/table.test.js
Due: yarn prettify, yarn lint:staged

chore: add bin component to package.json
  package.json
Due: yarn prettify

docs(README): update with new screenshot
  README.md
Due: yarn prettify

docs(README): update with hq screenshot
  README.md
Due: yarn prettify

ref(table): make the render function smaller and easier to test
  components/table.js
Due: yarn prettify, yarn lint:staged

test(table): add basic rendering tests
  __test__/components/table.test.js
Due: yarn prettify, yarn lint:staged

test(table): add more render tests
  __test__/components/table.test.js
Due: yarn prettify, yarn lint:staged

chore: add code climate config
  .codeclimate.yml
Due: yarn prettify

ref(table): export highlighter component also
  __test__/components/__snapshots__/table.test.js.snap
  __test__/components/pods.test.js
  __test__/components/table.test.js
  components/pods.js
  components/table.js
Due: yarn prettify, yarn lint:staged

feat: add error handling to cli
  cli.js
Due: yarn prettify, yarn lint:staged

docks(README): update readme
  README.md
Due: yarn prettify

feat: add semantic release
  package.json
  release.config.js
  yarn.lock
Due: yarn prettify, yarn lint:staged

chore: add semantic release to CI
  .circleci/config.yml
  .npmignore
Due: yarn prettify

fix: add missing steps in CI
  .circleci/config.yml
Due: yarn prettify

chore(dep): fix unwanted dependency
  package.json
Due: yarn prettify

docks(README): update readme to fix breaking emoji's
  README.md
Due: yarn prettify

fix: broken shortcut
  cli.js
Due: yarn prettify, yarn lint:staged

fix: process.argv.length bug
  README.md
  cli.js
Due: yarn prettify, yarn lint:staged

docs(README): remove emojis from the heading
  README.md
Due: yarn prettify

fix: add unwanted files to .npmignore
  .npmignore
Due: none

fix(package): add keywords
  package.json
Due: yarn prettify

docs(github): add templates and code of conduct
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: yarn prettify

docs(README): update badges
  README.md
Due: yarn prettify

fix(npm): add .github to ignore list
  .npmignore
Due: none

docs(README): add demo gif
  README.md
Due: yarn prettify

feat: add update-notifier
  cli.js
  package.json
  yarn.lock
Due: yarn prettify, yarn lint:staged

chore(dep): remove unwanted dependency
  package.json
  yarn.lock
Due: yarn prettify

ref(actions): seperate out common actions into base
  actions/base.js
  actions/pod.js
Due: yarn prettify, yarn lint:staged

ref(containers): seperate out common functionalities into HOC
  components/pods.js
  containers/base.js
  containers/pods.js
Due: yarn prettify, yarn lint:staged

feat(services): add services resource
  actions/services.js
  components/services.js
  containers/app.js
  containers/services.js
  transformers/services.js
Due: yarn prettify, yarn lint:staged

test: fix breaking tests
  __test__/components/pods.test.js
  __test__/containers/base.test.js
  transformers/services.js
Due: yarn prettify, yarn lint:staged

feat(replication-controller): add replication controller resource
  actions/replication-controllers.js
  components/replication-controllers.js
  containers/app.js
  containers/replication-controllers.js
  transformers/replication-controller.js
Due: yarn prettify, yarn lint:staged

feat(node): list node resources
  __test__/containers/base.test.js
  actions/node.js
  components/action-bar.js
  components/nodes.js
  components/pods.js
  components/replication-controllers.js
  components/table.js
  containers/app.js
  containers/base.js
  containers/nodes.js
  containers/replication-controllers.js
  containers/services.js
  transformers/node.js
  transformers/replication-controller.js
  transformers/service.js
Due: yarn prettify, yarn lint:staged

test: fix breaking tests
  __test__/components/__snapshots__/pods.test.js.snap
  __test__/components/__snapshots__/table.test.js.snap
  __test__/components/action-bar.test.js
  __test__/components/pods.test.js
  __test__/components/table.test.js
  __test__/containers/__snapshots__/app.test.js.snap
  __test__/containers/app.test.js
  __test__/containers/base.test.js
Due: yarn prettify, yarn lint:staged
